    .navbar{
      background-color: #3a5795;
      border-color: transparent;
    }
    td{
     background-color:#f5f5f5; 
     color: #000;
     border-radius: 0;
         border: 0px solid #f5f5f5;
    }

.summary {
  display: none;
}

.bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 0px solid #dddddd;
}
 
 .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td,
 .table-bordered > thead > tr > th, .table-bordered{
    border: 0px solid #dddddd;

  }
    th{
      background-color:#f5f5f5; 
       border-color: transparent;
    border: 0px solid #dddddd;
    }
    table{
         border-radius: 7px;
    }

     .navbar-inverse .navbar-form {
      border-color: #3a5795;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      border-color: #3a5795;
    }

    #fotoPerfil{
       border-radius: 50%;
    }

    .fb-login-button{
      margin-left:0;
      }

  #fundo{
  margin:0px;
  font-family : Tahoma;
  font-size : 12pt;
  color : #000000;
  background-color : #FFFFFF; 
  background-repeat: repeat;
  background-image:url('2.jpg');
  background-attachment:scroll
    
  }

  #fundo{
    background-color: #F5F5F5;
    
  }

  .abcRioButton{
    display: inline-block;
    margin-bottom: 0;
    margin-right:0;   
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-color: #3A5FCD ;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 1px 1px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }
   
label {
      font-family: "Arial";
      font-weight: normal;
    }

.abcRioButtonIcon {
    background-size: 40px 40px, cover;
    background-image: url(), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #3a5795), color-stop(100%, transparent));
    ;
    
}

.abcRioButtonIcon {
    background-size: 40px 40px, cover;
    background-image: url(), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #3a5795), color-stop(1%, transparent));
    ;
   
} 